/*
Estilos globais (body/html, parágrafos, classes de ajuda, etc)
----------
*/

body {
  background: $cor-primaria;
  text-align: center;
  font-family: $fonte-primaria;
  font-size: 1em;
}
h1 {
  color: rgba(0,0,0,0.5);
  font-family: $fonte-primaria;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}