/*
Configurações gerais (variáveis)
----------
*/

/* Fontes */
$tamanho-base: 16px; // Tamanho base para a fonte
$fonte-primaria: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Tamanhos */
$breakpoints: (
  xs: 32rem,
  sm: 48rem,
  md: 72rem,
  lg: 96rem,
  xl: 102rem,
  xx: 120rem
);