/*
General config (variables & settings)
----------
*/

/* Breakpoints
 * - This uses sass-mq package. Usage: @include `mq($from: size1, $until: size2)` or `mq($from: size)`
 */
$mq-breakpoints: (
  extra-small: 32rem,
  small: 48rem,
  medium: 72rem,
  large: 96rem,
  extra-large: 102rem,
  extra-extra: 120rem
);

@import "mq" // Imports the sass-mq package from node
